# OpenAI API
OPENAI_API_KEY=sk-proj-...

# Stripe
STRIPE_PUBLISHABLE_KEY=pk_live_...
STRIPE_SECRET_KEY=sk_live_...

# MS Graph (Office 365 / Outlook)
MS_CLIENT_ID=...
MS_CLIENT_SECRET=...
MS_TENANT_ID=...
MS_OBJECT_ID=...

# Email
EMAIL_ADDRESS=maduro@layer-ict.nl

# Cloudflare
CLOUDFLARE_ACCOUNT_ID=...
CLOUDFLARE_API_TOKEN=...
